<%- include('header'); %>
<main>
    <div id="main-login">
        <form id="login-form" method="POST" action="/login">
            <h2>Login</h2>
            <input type="email" value="admin" disabled class="login-feild" placeholder="E-mail*" name="username" required>
            <input type="password" class="login-feild" placeholder="Password*" name="password" required>
            <div style="display: inline;">
                <button type="submit" id="login-submit">Login</button>
            </div>
        </form>
        <a id="login-submit" style="visibility: hidden;" href="/register">Sign Up</a>
    </div>
</main>


<%- include('footer'); -%>
