<%- include('header'); %>
<main>
    <div id="admin-panel">
        <div id="admin-add">
            <h2>Add new PG</h2>
            <div id="admin-add-icon">+</div>
        </div>
        <div id="admin-search">
            <div id="admin-item">
                <p> Name:&nbsp;&nbsp;&nbsp;
                    Hostel
                </p>
                <div id="admin-remove">x</div>
            </div>
        </div>
    </div>
</main>

<%- include('footer'); -%>


