<footer>
    <div>
        <div id="fo-logo">pg<span>HUB</span></div>
        <div id="fo-des">pgHUB is a project created to find paying guests that were avaialable.
            This would make it easier for people who are looking for pg.</div>
    </div>
    <div id="fo-social">
        <div id="social"><a id="fa" class="fa fa-instagram" href="#"></a>Instagram</div>
        <div id="social"><a class="fa fa-github" href="#" id="fa"></a>Github</div>
        <div id="social"><a class="fa fa-linkedin" href="#" id="fa"></a>LinkedIn</div>
        <div id="social"><a class="fa fa-facebook" href="#" id="fa"></a>Facebook</div>
    </div>
</footer>
<!-- <script></script> -->
</body>

</html>