<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&family=Noto+Sans&family=Yellowtail&display=swap"
        rel="stylesheet">
    <title>PGHUB</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/Login.css">
</head>

<body>
    <nav>
        <div id="nav-logo">pg<span>HUB</span></div>
        <div id="nav-links">
            <a href="#">About Us</a>
            <a href="#">Login</a>
        </div>
    </nav>