<%- include('header'); -%>

    <main>
        <div id="main-features"></div>
        <div id="main-login">
            <form>
                <input type="email" placeholder="E-mail*" name="log-email" required>
                <input type="password" placeholder="Password*" name="log-pwd" required>
                <input type="submit">
            </form>
        </div>
    </main>
    <%- include('footer'); -%>