<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&family=Yellowtail&display=swap" rel="stylesheet">
    <title>pgHUB</title>
</head>
<body>
    <nav>
        <div id="nav-logo">pgHUB</div>
        <div id="nav-links">
            <a href="#">About Us</a>
            <a href="#">Login</a>
        </div>
    </nav>
    <main>
        <div id="main-features"></div>
        <div id="main-login">
            <form>
                <input type="email" placeholder="E-mail*" name="log-email" required>
                <input type="password" placeholder="Password*" name="log-pwd" required>
                <input type="submit">
            </form>
        </div>
    </main>
    <footer>
        <h1>Footer</h1>
    </footer>
</body>
</html>