<%- include('header'); %>

    <main>
        <div id="main-login">
            <form id="login-form" method="POST" action="/login">
                <h2>Login</h2>
                <div id="social-log">
                    <div id="social-logg"><a class="fa fa-facebook" href="/auth/facebook" id="fa-logg">&nbsp;Facebook</a></div>
                    <div id="social-logg"><a class="fa fa-google" href="/auth/google" id="fa-logg">&nbsp;Google</a></div>
                </div>
                <h5>OR</h5>
                <input type="email" class="login-feild" placeholder="E-mail*" name="username" required>
                <input type="password" class="login-feild" placeholder="Password*" name="password" required>
                <div style="display: inline;">
                    <button type="submit" id="login-submit">Login</button>
                </div>
            </form>
            <a id="login-submit" href="/register">Sign Up</a>
        </div>
    </main>
    <script>
        if (navigator.geolocation){
            navigator.geolocation.getCurrentPosition(showPosition);
        }

        function showPosition(position){
            console.log(position.coords.latitude + " " + position.coords.longitude);
            sessionStorage.setItem("latitude", position.coords.latitude.subString(10));
            sessionStorage.setItem("longitude", position.coords.longitude.subString(10));
            const lat = "latitude="+position.coords.latitude;
            const longi = "longitude="+position.coords.longitude;
            document.cookie = lat;
            document.cookie = longi;
        }
    </script>
    <%- include('footer'); -%>
