<%- include('header'); -%>

    <main>
        <!-- <div id="main-features"></div> -->
        <div id="main-login">
            <form id="login-form" method="POST" , action="/login">
                <h2>Login</h2>
                <div id="social-log">
                    <div id="social-logg"><a class="fa fa-facebook" href="#" id="fa-logg"></a>Facebook</div>
                    <div id="social-logg"><a class="fa fa-google" href="#" id="fa-logg"></a>Google</div>
                </div>
                <h5>OR</h5>
                <input type="email" class="login-feild" placeholder="E-mail*" name="username" required>
                <input type="password" class="login-feild" placeholder="Password*" name="password" required>
                <div style="display: inline;"><button type="submit" id="login-submit">
            </form>
            <button id="login-submit" href="/register">Sign Up</button>
        </div>
        <label id="log-alert">
            <%= message %>
        </label>
        </div>
    </main>
    <!-- <script>
        function openSignup() {
            document.getElementById("main-signup").style.display = "flex";
            document.getElementById("main-login").style.display = "none";
        }
        function openLogin() {
            document.getElementById("main-signup").style.display = "none";
            document.getElementById("main-login").style.display = "flex";
        }
    </script> -->
    <%- include('footer'); -%>