<%- include('header'); -%>
<main>
    <div id="desc-map">
        <div id="desc">
            <p>Name</p>
            <p>City</p>
            <p>Price</p>
            <p>acco</p>
            <p>Canteen</p>
        </div>
        <div id="map"></div>
    </div>
    <div id="pg-pics"></div>
    <div id="comments">
        <div id="user-comment">
            <h3>Type in your thoughts!!</h3>
            <form>
                <textarea></textarea>
                <P>Your Rating</P><input type="number" max="5" min="1">
                <button type="submit" id="login-submit">SUBMIT</button>
            </form>
        </div>
        <div id="fo-logo" style="margin-left: 630px; margin-top: 20px;">pg<span>COMMENTS</span></div>
        <div id="com">
            <div id="com-user">
                <h5>Name</h5>
                <h5>Age</h5>
                <div id="rating-comment">4</div> 
            </div>
            <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            </p>
        </div>
    </div>
</main>


<%- include('footer'); -%>