<%- include('header'); -%>

    <main>
        <div id="main-signup">
            <form id="signup-form" method="POST" action="/register">
                <h2>Sign up</h2>
                <div id="social-log">
                    <div id="social-logg"><a class="fa fa-facebook" href="/auth/facebook" id="fa-logg">Facebook</a></div>
                    <div id="social-logg"><a class="fa fa-google" href="/auth/google" id="fa-logg">Google</a></div>
                </div>
                <h5>OR</h5>
                <input type="email" class="login-feild" placeholder="E-mail*" name="username" required>
                <input type="password" class="login-feild" placeholder="Password*" name="password" required>
                <div style="display: inline;">
                    <button type="submit" id="login-submit" onclick=signPop()>Signup</button>
                </div>
            </form>
            <a id="login-submit" href="/login">Login</a>
        </div>
    </main>
    <script>
        function signPop(){
            alert(<%= message %>);
        }
    </script>
    <%- include('footer'); -%>