<%- include('header'); %>
<main id="search-page">
    <div id="filters"></div>
    <div id="results">
        <div id="item">
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
        <div id="item">
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
        <div id="item">
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
        <div id="item">
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
    </div>
</main>



<%- include('footer'); %>