<%- include('header'); %>
<main id="search-page">
    <div id="filters">
        <form method="POST">
            <button type="submit" id="login-submit">Filter</button>
            <div id="filter-fields">
                <h2>Cities</h2>
                <div><input type="checkbox">Jamnagar</div>
                <div><input type="checkbox">Jamnagar</div>
                <div><input type="checkbox">Jamnagar</div>
                <div><input type="checkbox">Jamnagar</div>
                <div><input type="checkbox">Jamnagar</div>
            </div>
            <div id="filter-fields">
                <h2>Price</h2>
                <div><input type="checkbox">Below & 5000</div>
                <div><input type="checkbox">5000-7000</div>
                <div><input type="checkbox">7000-9000</div>
                <div><input type="checkbox">9000-11000</div>
                <div><input type="checkbox">11000 & above</div>
            </div>
            <div id="filter-fields">
                <h2>Ratings</h2>
                <div><input type="checkbox">1</div>
                <div><input type="checkbox">2</div>
                <div><input type="checkbox">3</div>
                <div><input type="checkbox">4</div>
                <div><input type="checkbox">5</div>
            </div>
        </form>
    </div>
    <div id="results">
        <div id="item">
            <div id="rating-search">4</div>
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
        <div id="item">
            <div id="rating-search">4</div>
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
        <div id="item">
            <div id="rating-search">4</div>
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
        <div id="item">
            <div id="rating-search">4</div>
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
        <div id="item">
            <div id="rating-search">4</div>
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
        <div id="item">
            <div id="rating-search">4</div>
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
        <div id="item">
            <div id="rating-search">4</div>
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
        <div id="item">
            <div id="rating-search">4</div>
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
        <div id="item">
            <div id="rating-search">4</div>
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
        <div id="item">
            <div id="rating-search">4</div>
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
        <div id="item">
            <div id="rating-search">4</div>
            <p>Name</p>
            <p>Location</p>
            <p>Price, Accomdation</p>
        </div>
    </div>
</main>



<%- include('footer'); %>