<%- include('header'); -%>
    <main>
        <div id="profile">
            <div id="stats">
                <h3>Name :</h3>
                <h3>Age :</h3>
                <h3>Location :</h3>
                <h3>Total Ratings :</h3>
            </div>
            <div id="per-stats">
                <h3>ABC</h3>
                <h3>15</h3>
                <h3>Jamnagar</h3>
                <h3>69</h3>
            </div>
        </div>
        <div id="user-ratings">
            <div id="rat-logo">my<span>Ratings</span></div>
            <div id="rat">
                <div>
                    <h4>ABC, &nbsp;15</h4>
                    <div id="rating">4</div>
                    <p>LOrem ipsumLOrem ipsumLOrem ipsumLOrem ipsumLOrem ipsumLOrem ipsumLOrem ipsumLOrem ipsum
                        LOrem ipsumLOrem ipsumLOrem ipsumLOrem ipsumLOrem ipsumLOrem ipsumLOrem ipsumLOrem ipsum
                        LOrem ipsumLOrem ipsumLOrem ipsumLOrem ipsumLOrem ipsumLOrem ipsum.
                    </p>
                </div>
            </div>
        </div>
    </main>
<%- include('footer'); -%> 