body{
    margin: 0;
}
/* #main-features{
    height: 350px;
    width: 50%;
    background-color: rgba(3, 3, 3, 0.5);
    margin-top: 20px;
    float: left;
} */
#main-login{
    height: 490px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
#login-form{
    height: 400px;
    width: 500px;
    background-color: #fb8525;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    color: rgba(255, 255, 255, 0.904);
    font-size: 40px;
    border-radius: 40px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
.login-feild{
    font-family: 'Noto Sans', sans-serif;
    border-radius: 10px;
    background-color: #fb8525;
    color: rgba(255, 255, 255, 0.904);
    font-size: 30px;
    outline: none;
    border: none;
    text-align: center;
    margin-top: 15px;
    transition: 1s;
}
.login-feild:hover{
    transition: 1s linear;
    border-bottom: 3px solid white;
}
.login-feild:focus{
    border: 3px solid white;
}
.login-feild::placeholder{
    color: rgba(255, 255, 255, 0.904);
}
#login-submit{
    background-color: #fb8525;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    transition: 0.3s;
}
#login-submit:hover{
    background-color: #fff;
    color: #fb8525;
}
#main-signup{
    height: 490px;
    width: 100%;
    display: none;
    justify-content: center;
    align-content: center;
    transition: 0.3s;
}
#signup-form{
    height: 450px;
    width: 500px;
    background-color: #fb8525;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    color: rgba(255, 255, 255, 0.904);
    font-size: 40px;
    border-radius: 40px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}