#newpg-head{
    background-color: rgba(250, 114, 2, 1);
    width: 10%;
    display: flex;
    margin-top: 20px;
    border-radius: 20px;
    align-items: center;
    margin-left: 45%;
}
#newpg-form{
    padding: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
#newpg-form form{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 300px;
    row-gap: 50px;
    border-radius: 20px;
    border: 5px solid rgba(250, 114, 2, 1);
    padding: 15px;
}
#pg-fields{
    font-size: 22px;
}
#pg-fields input{
    font-size: 22px;
    border-radius: 15px;
    border: 2px solid rgba(250, 114, 2, 1);
    outline: none;
}
#pg-radio{
    font-size: 22px;
}