#desc-map{
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    align-content: space-evenly;
}
#desc{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 2px solid  rgba(250, 114, 2, 1);
    width: 40%;
    margin-top: 12px;
    margin-left: 20px;
    padding: 15px;
}
#pg-pics{
    width: 100%;
    background-color: rgba(250, 114, 2, 1);
    margin-top: 2px;
    display: flex;
    justify-content: center;
    padding: 25px;
}
#pg-pics iframe{
    width: 75%;
    background-color: #fff;
    border-radius: 30px;
    border: 14px solid #f2f2f2;
}
#comments{
    background-color: #f2f2f2;
    padding: 25px;
}
#user-comment{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
#user-comment h3{
    font-size: 40px;
    color: rgba(250, 114, 2, 1);
}
#user-comment textarea{
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid rgba(250, 114, 2, 1);
}
#user-comment input{
    font-size: 20px;
    width: 50px;
    border-radius: 10px;
    border: 3px solid rgba(250, 114, 2, 1);
}
#user-comment form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#com{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    padding: 15px;
    border-radius: 20px;
}
#com:hover{
    box-shadow: 2px 2px 1px rgba(250, 114, 2, 1);
}
#com-user{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}
#rating-comment{
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background-color: #fb8c31;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    float: right;
}